{% extends "root.html" %}

{% block content %}
<div class="d-flex justify-content-center" style="margin-left: 200px; margin-top: 50px;">
<div class="col-lg-12">
    <div class="event-item">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-content">
                    <h4>{{ event.title }}</h4>
                    <p>{{ event.description }}</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button class="btn btn-primary" type="submit">Забронировать</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumb">
                    <img src="{{ event.image.url }}" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content">
                    <ul>
                        <li>
                            <i class="fa fa-clock-o"></i>
                            <h6>Дата: {{ event.date }}<br>Время: {{ event.time }}</h6>
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>{{event.location}}</span>
                        </li>
                        <li>
                            <i class="fa fa-users"></i>
                            <span>{{event.places}} чел.</span>
                        </li>
                        <li>
                            <span>{{event.price}} руб.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




{% endblock %}
