{% extends "root.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Мероприятия</title>
</head>
<body>
{% block content %}
<h1>Список мероприятий</h1>

<form method="get">
  <label for="category">Категория:</label>
  <input type="text" name="category">

  <label for="date">Дата:</label>
  <input type="date" name="date">

  <button type="submit">Применить фильтр</button>
</form>

<ul>
  {% for event in events %}
  lt;li>{{ event.title }} - {{ event.location }} - - {{ event.type }}</li>
  {% endfor %}
</ul>
<div class="d-flex justify-content-between m-4">
{% for type in types %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ type.image.url }}" alt="Card image cap" style="height: 200px;">
  <div class="card-body">
    <a href="{% url 'main:events_in_type' type.id %}" class="btn btn-primary">{{ type.type }}</a>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
</body>
</html>