
{% extends "root.html" %}
{% load static %}


{% block content %}
<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-content">
                    <h6>Открытие 21 марта</h6>
                    <h2>The Sunny Hill Festival 2026</h2>
                    <div class="main-white-button">
                        <a href="{% url 'main:types' %}">Забронировать билеты</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="amazing-venues">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="left-content">
                    <h4>All Events: Ваш гид в мире захватывающих мероприятий!</h4>
                    <p>Добро пожаловать на сайт All Events - вашему надежному партнеру для всех видов мероприятий! Мы предлагаем самые актуальные сведения о концертах, фестивалях, спортивных соревнованиях, выставках и многое другое. На нашей платформе вы сможете найти информацию о ближайших событиях, купить билеты онлайн, прочитать отзывы и поделиться своими впечатлениями с другими участниками. Не упустите возможность окунуться в мир ярких и незабываемых впечатлений - присоединяйтесь к нам на All Events!</p>
                    <br>
                    <p>Мы гордимся тем, что наша платформа предлагает разнообразные мероприятия для всех возрастов и интересов. Независимо от того, вы являетесь поклонником музыки, театра, спорта или искусства, у нас вы обязательно найдете что-то по душе. Мы тщательно отбираем самые захватывающие события, чтобы обеспечить вам незабываемые впечатления и радость от проведенного времени. Подпишитесь на нашу рассылку, чтобы быть в курсе всех акций, скидок и новинок. All Events - ваш путь к увлекательным приключениям!</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="right-content">
                    <h5><i class="fa fa-map-marker"></i> Посетите нас</h5>
                    <span>Санкт-Петербург</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="map-image">
    <img src="/static/images/map.jpg" style="height: 400px; object-fit: cover;" alt="Maps of 3 Venues">
</div>


{% endblock %}
